
    <title>{{title}}</title>
    <!--===TITLE LOGO===--->
   
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        
<!-- {{{body}}}-->
  <section>
      <div class="about" id="about">
          <div class="inside-about">
              <h2>About Me</h2>
              <div class="container1">
                  <div class="right">
                      <img src="/images/pic1.jpg" alt="pic">
                  </div>
                  <div class="left">
                       <h1>I was a Mainframe Developer for more than 7 years. Now pursuing Mobile Solutions Develpment, a Post Graduate Certificate course in Conestoga College, CA. Planning to become a full Stack Developer.</h1>
                        <div class="socials">
                            <a href="https://www.linkedin.com/in/sovansamal/"><i class="fab fa-linkedin-in"></i></a>                             
                            <a href="https://github.com/ssamal6236"> <i class="fab fa-github"></i></a>
                        </div>    
                  </div>
              </div>
          </div>
      </div>
  </section>

