<title>{{title}}</title>
  
<div class="connect" id="connect">
    <h1>Stay Connected</h1>
    <div class="connect-container">
        <div class="inside-connect">
            <div class="form">
                <div class="row">
                    <label for="">Name</label>
                    <input type="text" placeholder="Full Name">
                </div>
                <div class="row">
                    <label for="">E-mail</label>
                    <input type="text" placeholder="E-mail ID">
                </div>
                <div class="row">
                    <label for="">Something about yourself</label>
                   <textarea name="" placeholder="Enter here" id="" cols="30" rows="10"></textarea>
                </div>
                <div class="connectBtn">
                    <a href="">Connect</a>
                </div>
            </div>
        </div>
        
    </div>
</div>
>