

<section>
    <div class="intro">
        <h2>Sovan Samal</h2>
        <h4><strike>a Mainframe Developer.</strike></h4>                            
        <h4>a Full Stack Developer.</h4>
    </div>
</section>


 