<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!--===TITLE LOGO===--->
    <link rel="icon" href="/images/logo.PNG" type="image/x-icon">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Typed.js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    </head>
  <body>
    <section>
    <div class="mainpart">
        <div class="backgroundColor">
        </div>
        <div class="menu">
            <header>
                <div class="logo">
                    <img src="/images/so1_logo.png" alt="">
                    <h1>Sovan Samal</h1>
                    <div class="nav">
                        <ul>
                            <li><a href="/">Home</a></li>                            
                            <li><a href="/work">Work Expr</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/connect">Connect</a></li>                           
                        </ul>
                    </div>
                </div>
                <div class="icons">
                    <a href="https://www.linkedin.com/in/sovansamal"><i class="fab fa-linkedin-in"></i></a>                             
                    <a href="https://github.com/ssamal6236"> <i class="fab fa-github"></i></a>
                </div>
                <div class="footer">
                    <p>&copy 2021 All rights reserved</p>
                </div>
            </header>
        </div>
            <!----------sidebar ends-------------------->
    </div>
</section>
    {{{body}}}
  </body>
</html>
