

<section>
    <div class="work">
        <h2>Work Experience</h2>
        <h4>Infosys Ltd - Senior Software Engineer</h4>
        <p>
            Requirement Analysis, Design, Coding, Unit testing, Regression Testing, Implementation to Production and providing Warranty Support for software codes
            </br>Analyzing the business as usual process to incorporate new changes
            </br>Monitoring and validating the implementation
            </br>Involved in the certification of POS Issuing and Acquiring Partner to add them to Network
            </br>Contacting partners (Banks) across the globe for gathering requirements and performing testing with them.
            </br>Knowledge transfer to new joiners in the team and assigning them work to get them in speed
            </br>Created the System Appreciation document for few projects to be studied and followed by the other teammates.
        </p>                            
        <h4>JP Morgan Services india Pvt Ltd - Application Support</h4>
        <p>
            Issue analysis, incident management, and Firm-wide Event handling
            </br>Automation tool creation to ease redundant work
            </br>Monitoring and resolving production batch jobs
            </br>Supporting Change release and Sustenance resiliency activities
            </br>Raising defects, creating JIRA (confluence) stories
            </br>Supporting application during weekends
            </br>Determined team targets and implemented automation plans to achieve goals at individual and group level
            </br>Production change and Package implementation and validation

        </p>
    </div>
</section>


 